.errorPage {
  height: 100%;
}

.errorPage__title {
  font-size: 200px;
  text-shadow: 10px 5px 15px rgb(0 0 0 / 75%);
}

.errorPage__subtitle {
  font-size: 30px;
  text-shadow: 10px 5px 15px rgb(0 0 0 / 75%);
}
