{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "arrowParens": "avoid"
}
