@import 'src/styles/variables';

#emoji-picker-btn {
    margin-left: .5rem;
}

.formWrapper {
  padding: 20px;
  background-color: $background-color;
  border-radius: var(--ant-border-radius);
  box-shadow: var(--ant-box-shadow);
}

.form {
  position: relative;

  &__submit {
    margin-bottom: 0;
  }
}
