.wrapper {
  height: 100%;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 260px;
  gap: 24px;
}

.statistic {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.coins {
  color: yellow;
}

.text {
  min-width: 200px;
}

.canvas {
  background: rgba(0, 0, 0, 0);
}

.castle {
  width: 225px;
  height: 225px;
  position: absolute;
  top: -59px;
  right: -13px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
