.controls {
  display: grid;
  grid-template-columns: 1fr 260px;
  gap: 24px;
}

.statistic {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.coins {
  color: yellow;
}

.text {
  min-width: 200px;
}
