.end {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.background {
  width: 80%;
  height: 80%;
  border-radius: 16px;
  background: #231701;
  padding: 20px;
}

.bottom {
  width: 100%;
}

.wrapper {
  width: 50%;

}
