.end {
  position: absolute;
  z-index: 10;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(0 0 0 / 50%);
}

.background {
  width: 80%;
  height: 80%;
  padding: 20px;

  background: #231701;
  border-radius: 16px;
}

.bottom {
  width: 100%;
}

.wrapper {
  width: 50%;
}
